.header {
  max-width: 568px;
  padding: 35px 24px 88px 24px;
}

.image {
  width: 100%;
  display: block;
}

.row {
  border-top: 1px solid var(--theme-border);
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 24px 0px 24px;
  max-width: 768px;
}

@media (max-width: 1248px) {
  .container {
    flex-wrap: wrap;
  }
}

.column {
  padding: 0 12px 0 12px;
  width: 50%;
  border-left: 1px solid var(--theme-border);
  align-self: stretch;
  border-bottom: transparent 1px solid;
}

.column:last-child {
  border-right: 1px solid var(--theme-border);
}

@media (max-width: 1248px) {
  .column {
    width: 50%;
  }
  .column:nth-child(even) {
    border-right: 1px solid var(--theme-border);
  }
}

@media (max-width: 768px) {
  .column {
    width: 100%;
    border-right: 1px solid var(--theme-border);
  }
  .column:nth-child(1) {
    border-bottom: 1px solid var(--theme-border);
  }
  .column:nth-child(2) {
    border-bottom: 1px solid transparent;
  }
  .column:last-child {
    border-bottom: 0px solid var(--theme-border);
  }
}

.content {
  padding: 48px 12px 48px 12px;
}

.subtle {
  color: var(--theme-border);
}

.link {
  color: var(--theme-text);
  transition: 200ms ease all;
}

.link:visited {
  color: var(--theme-text);
}

.link:hover {
  color: var(--theme-text);
  opacity: 0.8;
}


.subRow {
  padding: 0 24px 0 24px;
  max-width: 768px;
}

.subRowContent {
  padding: 24px 24px 48px 24px;
  border-left: 1px solid var(--theme-border);
}

.subRowContent:last-child {
  border-right: 1px solid var(--theme-border);
}

.subRowContent p {
  opacity: 0.5;
  max-width: 768px;
}

.disclaimer {
  font-family: var(--font-family);
  font-size: var(--type-scale-7);
  opacity: 0.8;
  line-height: 1.225;
  width: 100%;
  max-width: 488px;
  margin: 16px 0 0 0;
}

.caption {
  font-size: var(--type-scale-fixed-small);
  min-height: 88px;
  flex-shrink: 0;
  padding: 24px 0 24px 0;
  opacity: 0.6;
}

.hiddenCaption {
  font-size: var(--type-scale-fixed-tiny);
  min-height: 88px;
  flex-shrink: 0;
  padding: 24px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
