.textArea {
  -webkit-appearance: none;
  color: var(--theme-text);
  font-family: var(--font-family);
  background: var(--theme-background);
  box-sizing: border-box;
  padding: 12px 16px 12px 16px;
  width: 100%;
  border-radius: 4px;
  line-height: 1.6;
  font-size: var(--type-scale-fixed-medium);
  box-sizing: border-box;
  white-space: pre-wrap;
  resize: none;
  transition: 200ms ease all;
  transition-property: width;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 1px var(--theme-border);
}

.textArea:focus {
  box-shadow:
    0 0 0 1px var(--theme-border),
    0 0 0 4px var(--theme-input-active);
  outline: 0;
  border: 0;
}

.textArea::placeholder {
  opacity: 1;
  color: var(--theme-border);
}

.textArea::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.textArea::-webkit-scrollbar {
  background: transparent;
}
.textArea::-webkit-scrollbar-track {
  background: var(--theme-foreground);
}
.textArea::-webkit-scrollbar-thumb {
  background: var(--theme-foreground-secondary);
}
.textArea::-webkit-scrollbar-thumb:hover {
  background: var(--theme-foreground-secondary);
}
